# Root-level ignores
.bundle/
.direnv/
result
result-*
*.local

# service/
service/.bundle/
service/log/
service/.yardoc
service/_yardoc/
service/coverage/
service/doc/
service/pkg/
service/spec/reports/
service/tmp/
service/*.log*
service/*.log.age
service/.rspec_status
service/.byebug_history
service/*.code-workspace
service/.DS_Store
service/config/settings.local.yml
service/config/settings/*.local.yml
service/test_*.yml
service/target/
service/vendor/
service/Cargo.lock
service/spec/test_data.yml

# core/
core/.bundle/
core/log/*
!core/log/.keep
core/.yardoc
core/_yardoc/
core/coverage/
core/doc/
core/pkg/
core/spec/reports/
core/spec/examples.txt
core/tmp/
core/.direnv
core/vendor/

# website/
website/.bundle
website/.env
website/log/*
!website/log/.keep
website/tmp/*
!website/tmp/.keep
website/tmp/pids/*
!website/tmp/pids/
!website/tmp/pids/.keep
website/storage/*
!website/storage/.keep
website/tmp/storage/*
!website/tmp/storage/
!website/tmp/storage/.keep
website/public/assets
website/config/master.key
website/app/assets/builds/*
!website/app/assets/builds/.keep
website/node_modules
website/.direnv
website/vendor/bundle
website/public/vite*
website/config/credentials/development.key
website/config/credentials/production.key
website/config/credentials/production.yml.enc
website/config/settings.local.yml
website/config/settings/*.local.yml
website/config/environments/*.local.yml

# arma/
arma/debug/
arma/target/
arma/Cargo.lock
arma/**/*.rs.bk
arma/esm.key
arma/log/
arma/SymbolInfo.map
arma/run.env
arma/test_users.yml
arma/node_modules
arma/reset.sql
arma/config.yml
!arma/src/@esm/config.yml
arma/.env
arma/build_config.yml
arma/*.zip
arma/src/esm/.build-sha
arma/src/updater/lib/keys/*
!arma/src/updater/lib/keys/updater.pub
arma/bin/upload
arma/bin/release
arma/bin/staging
bin/release
arma/tools/server/@exile/addons/*.pbo
arma/tools/server/@exile/addons/*.bisign
arma/tools/server/@exile/addons/*.txt
arma/tools/server/@exile/mod.paa
arma/tools/server/@exileserver/logs
arma/.direnv/
arma/tools/wrappers/
arma/.docker-volumes/
arma/tools/server/@*/
!arma/tools/server/@exile
!arma/tools/server/@exileserver

# overmind (bin/dev) runtime socket
.overmind.sock
