/ locals: current_server, reward_package, reward_claim, outcome
#reward_panel
  - if outcome
    .alert.py-2.px-3.small class=outcome.css_class role="alert"
      = outcome.message

  - if reward_claim
    = render "servers/rewards/claim", current_server:, reward_claim:
    hr.my-3

  - if reward_package
    = render "servers/rewards/package", current_server:, package: reward_package, blocked: reward_claim.present?
    hr.my-3

  = render "servers/rewards/redeem_code", current_server:, blocked: reward_claim.present?
