/ locals: current_server, command
= turbo_stream.replace "reward_panel" do
  - if command.settled?
    = render "servers/rewards/panel", current_server:, \
      reward_package: reward_default_package_for(current_server), \
      reward_claim: reward_claim_for(current_server), \
      outcome: reward_outcome(command)
  - else
    = render "servers/rewards/processing", current_server:, command:
