/ locals: command, current_server, refreshed_territory, refreshed_player, retry_territory
- if command.settled?
  = render "servers/territories/pay_settled", command:, target: server_command_id(command), current_server:, refreshed_territory:, refreshed_player:, retry_territory:
