/ locals: command, dom_id, current_server, refreshed_territory, refreshed_player, retry_territory
= render "servers/territories/command_response", command:, dom_id:, current_server:, refreshed_territory:, refreshed_player:, retry_territory:
