.border-esm-blue {
    border-color: $esm-primary-blue !important;
}

.border-exile-red {
    border-color: $exile-primary-red !important;
}

.text-exile-red {
    color: $exile-primary-red !important;
}
