/ locals: current_server
.col-12
  .card.h-100
    .card-header.d-flex.align-items-center.justify-content-between
      h5.mb-0
        i.bi.bi-terminal.text-danger.me-2
        | SQF Console
      span.badge.text-bg-danger.text-uppercase Admin

    .card-body.d-flex.flex-column data-controller="sqf"
      = render "servers/sqf/form", current_server:
      hr.my-3
      = render "servers/sqf/result", result: nil
