/ locals: player
span.badge.rounded-pill.border.flex-shrink-0.d-inline-flex.align-items-center.gap-1[class=player_status(player).pill_class]
  i.bi[class=player_status(player).icon_class aria-hidden="true"]
  = player_status(player).label
