/ locals: current_server, lookback, lookback_options, search_name, players, fetched_at, row_limit
= turbo_frame_tag "players_list"
  = render "servers/players/list",
    current_server:, lookback:, lookback_options:, search_name:, players:, fetched_at:, row_limit:
