nav.navbar.fixed-top.navbar-expand-lg.bg-body-tertiary
  .container-xxl.flex-wrap.flex-lg-nowrap
    a.navbar-brand[href="#"]
      img.d-inline-block.align-text-top[src="icon.png" alt="Logo" width="48" height="48"]
    button.navbar-toggler[type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"]
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.gap-2
        = link_to "Getting Started", "", class: "nav-link"
        = link_to "Docs", "", class: "nav-link"
        = link_to "-", "", class: "nav-link disabled"
        = link_to "Invite", "", class: "nav-link"
        = link_to "-", "", class: "nav-link disabled"
        = link_to "My Account", "", class: "nav-link"
        = link_to "My Servers", "", class: "nav-link"
      .navbar-nav.flex-row.flex-wrap.ms-md-auto.gap-3.gap-lg-0
        = link_to "", class: "nav-link fs-4"
          i.bi.bi-github
        = link_to "", class: "nav-link fs-4"
          i.bi.bi-discord
