/ locals: current_server, gamble_stat
#gamble-stats-modal.modal.fade tabindex="-1" aria-hidden="true"
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      = render "servers/gambling/stats_content", current_server:, gamble_stat:, heading: "Your stats"
